body {
  display: flex;
  background-color: #f0f0f0; /* Светло-серый цвет фона */
  font-family: Arial, sans-serif; /* Шрифт */
}
.header {
  color: #0e3302;
}

/* Стили для карточки */
.card {
  display: flex;
  width: 350px;
  height: 430px;
  background-color: #ebe3a3;
  border: 2px solid #ffc107;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: rgb(145, 6, 6);
  justify-content: center;
}

/* Заголовок карточки */
.card h2 {
  margin: 0;
  font-size: 24px;
}

/* Изображение в карточке */
.card img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Стили для поля поиска */
.search-field {
  width: 95%;
  padding: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Стили для кнопки */
.button {
  background-color: #117714; /* Зеленый цвет кнопки */
  color: white; /* Цвет текста кнопки */
  padding: 10px 10px; /* Отступы внутри кнопки */
  border: 1px;
  border-radius: 4px; /* Закругленные углы кнопки */
  font-size: 16px;
  cursor: pointer; /* Указатель при наведении на кнопку */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень для объемности кнопки */
}

/* Эффект при наведении на кнопку */
.button:hover {
  background-color: #043006; /* Темнее зеленый при наведении */
}
.styled-list {
  list-style-type: none; /* Убираем стандартные маркеры */
  padding: 0; /* Убираем отступы */
}

.styled-list li {
  background-color: #ebe3a3; /* Желтый цвет карточки */
  border: 2px solid #ffc107; /* Окантовка карточки */
  border-radius: 8px; /* Закругленные углы */
  margin: 10px 0; /* Отступы между элементами */
  padding: 5px; /* Внутренние отступы */
  border-radius: 8px; /* Скругление углов */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.styled-list li:hover {
  background-color: #ffc107; /* Цвет фона при наведении */
}
